*{
	margin: 0;
	padding: 0;
}
.nav{
	width: 100%;
	height: 120px;
	background: url(../img/yinyue_bg.jpg)no-repeat center;
}
.nav-img{
	float: left;
}
.nav-text{
	float: right;
}
.banner-nav{
	width: 1100px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.nav-text{
margin-top: 50px;
}
ul,li{
	list-style: none;
}
.nav-text>li{
	float: left;
	color: white;
	margin-left: 60px;
}
.nav-text{
	position: relative;
}
.xiala{
	position: absolute;
	left: 60px;
	top: -24px;
	cursor: pointer;
	position: relative;
}
.erji{
	width: 160px;
	position: absolute;
	left: -80px;
	/* top: 50px; */
	line-height: 40px;
	background:url(../img/yinyue_bg.jpg) no-repeat center;
	color: white;
	display: none;
	transition: 0.5s;
	z-index: 100;
}
.erji>li{
	padding-left: 20px;
	transition: 0.5s;
}
.erji>li:hover{
	background-color: royalblue;
	transition: 0.5s;
	padding-left: 30px;
}
.xiala:hover .erji{
	display: block;
}
/* header */
.footer{
	height: 400px;
	width: 100%;
	background: url(../img/mokuai02_bg.jpg);
}
.music{
	width: 1100px;
	height: 330px;
	margin: 0 auto;
}
.yinfu{
	width: 1100px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}
.yinfu>li{
	color: white;
	width: 60px;
	height: 60px;
	border: 1px solid gray;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	margin-left: 20px;
}
.yinfu li:hover{
	background-color: royalblue;
}
.xiantiao{
	width: 1100px;
	height: 70px;
	margin: 0 auto;
	border-top: dashed 2px gray;
	text-align: center;
	line-height: 70px;
	color: white;
	padding-bottom: 40px;
}
.asideone{
	width: 100%;
	height: 1900px;
	background-color: #F1F2F6;
}
.img{
	width: 1100px;
	height: 1900px;
	background-color: white;
	margin: 0 auto;
}
.textone{
	width: 780px;
	height: 60px;
	margin: 0 auto;
	margin-top: 100px;
	color: #122B40;
	font-size: 30px;
	border-bottom: 2px solid gray;
}
.texttwo{
	width: 780px;
	height: 35px;
	margin: 0 auto;
	margin-top: 20px;
	color: gray;
}
.imgs{
	width: 780px;
	height: 235px;
	margin: 0 auto;
	margin-top: 40px;
}
.text{
	width: 780px;
	height: 1300px;
	margin: 0 auto;
}
a{
	text-decoration: none;
}

